
<h1 id="tableau-comparatif">Tableau comparatif</h1>
<table>
<colgroup>
<col style="width: 15%" />
<col style="width: 10%" />
<col style="width: 11%" />
<col style="width: 14%" />
<col style="width: 14%" />
<col style="width: 14%" />
<col style="width: 19%" />
</colgroup>
<thead>
<tr class="header">
<th></th>
<th>VanillaJS</th>
<th>Ember</th>
<th>Polymer</th>
<th>Angular</th>
<th>React + Redux</th>
<th>Vue</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Sponsor</td>
<td></td>
<td>Community</td>
<td>Google</td>
<td>Google</td>
<td>Facebook</td>
<td>Community</td>
</tr>
<tr class="even">
<td>Year</td>
<td></td>
<td>2011</td>
<td>2015</td>
<td>2010 (2016)</td>
<td>2013</td>
<td>2015</td>
</tr>
<tr class="odd">
<td>Latest Version</td>
<td></td>
<td>2.18</td>
<td>2.0</td>
<td>5.0</td>
<td>16.2</td>
<td>2.5</td>
</tr>
<tr class="even">
<td>Language</td>
<td>Javascript</td>
<td>Javascript</td>
<td>Javascript</td>
<td>Typescript</td>
<td>Javascript X</td>
<td>Javascript</td>
</tr>
<tr class="odd">
<td>Recommended tmpl</td>
<td></td>
<td>Handlebars</td>
<td>Javascript</td>
<td>Angular</td>
<td>JSX</td>
<td>Vue</td>
</tr>
<tr class="even">
<td>Size</td>
<td>0 KB</td>
<td>435 KB</td>
<td>127 KB</td>
<td>566 KB</td>
<td>133 KB + 2 KB</td>
<td>59 KB</td>
</tr>
<tr class="odd">
<td>Popularity</td>
<td></td>
<td>67.6</td>
<td>85.5</td>
<td>62.3</td>
<td>93.3</td>
<td>94.4</td>
</tr>
<tr class="even">
<td>Stars / Forks</td>
<td></td>
<td>22k+</td>
<td>21k+</td>
<td>37k+</td>
<td>95k+</td>
<td>75k+</td>
</tr>
<tr class="odd">
<td>CLI</td>
<td></td>
<td><code>ember cli</code></td>
<td><code>polymer cli</code></td>
<td><code>ng cli</code></td>
<td>(not official)</td>
<td><code>vue cli</code></td>
</tr>
<tr class="even">
<td>Architecture</td>
<td></td>
<td>MVC</td>
<td>MVC</td>
<td>MVC</td>
<td>Flux</td>
<td>Flux</td>
</tr>
<tr class="odd">
<td>Flexibile Arch</td>
<td>Yes</td>
<td>No</td>
<td>No</td>
<td>No</td>
<td>Yes</td>
<td>Yes</td>
</tr>
<tr class="even">
<td>Binding</td>
<td></td>
<td>2 way</td>
<td>2 way (def: 1)</td>
<td>2 way (def: 1)</td>
<td>1 way</td>
<td>1 way</td>
</tr>
<tr class="odd">
<td>Logic Separation</td>
<td></td>
<td><code>+ +</code></td>
<td><code>+ +</code></td>
<td><code>+ +</code></td>
<td><code>+ + +</code></td>
<td><code>+ +</code></td>
</tr>
<tr class="even">
<td>Learning Curve</td>
<td></td>
<td><code>- - -</code></td>
<td><code>-</code></td>
<td><code>- -</code></td>
<td><code>- -</code></td>
<td><code>-</code></td>
</tr>
<tr class="odd">
<td>Rendering speed</td>
<td></td>
<td><code>- -</code></td>
<td><code>-</code></td>
<td><code>-</code></td>
<td><code>+ +</code></td>
<td><code>+ +</code></td>
</tr>
<tr class="even">
<td>Mobile build</td>
<td></td>
<td>Cordova</td>
<td></td>
<td>Ionic</td>
<td>React-Native</td>
<td>Weex</td>
</tr>
<tr class="odd">
<td>Testing</td>
<td></td>
<td>Q-Unite</td>
<td>Jasmine</td>
<td>Jasmine + Karma</td>
<td>Any</td>
<td>Karma + Mocha + Jest</td>
</tr>
<tr class="even">
<td>Data Library</td>
<td></td>
<td>Ember-data</td>
<td></td>
<td></td>
<td>Redux</td>
<td></td>
</tr>
<tr class="odd">
<td>Documentation</td>
<td></td>
<td><code>+ +</code></td>
<td><code>+ +</code></td>
<td><code>+ +</code></td>
<td><code>+</code></td>
<td><code>+ +</code></td>
</tr>
<tr class="even">
<td>Community</td>
<td></td>
<td><code>- -</code></td>
<td><code>-</code></td>
<td><code>+ +</code></td>
<td><code>+ +</code></td>
<td><code>+</code></td>
</tr>
<tr class="odd">
<td>API Stability</td>
<td></td>
<td><code>+ + +</code></td>
<td><code>+</code></td>
<td><code>-</code></td>
<td><code>+</code></td>
<td><code>+ + +</code></td>
</tr>
<tr class="even">
<td>Best attraction</td>
<td>A la carte</td>
<td>Principals first</td>
<td>Webcomponents W3C</td>
<td>Oldest Framework</td>
<td>Virtual DOM</td>
<td>Combination Angular + React</td>
</tr>
</tbody>
</table>
<p>Autres frameworks populaires: Meteor, Riot, KnockoutJS, Inferno, Aurelia, BackboneJS, ExtJS/Sencha.</p>
<h1 id="comparaison-technique">Comparaison technique</h1>
<h2 id="angular">Angular</h2>
<p>L’utilisation de Typescript est probablement une bonne idee : beaucoup de fonctionnalités sont implémentées dans Typescript avant même les spécification Ecmascript. Cela garantit une certaine modernité de l’application et un marge d’erreur plus faible avec un language fortement typé.</p>
<h2 id="react">React</h2>
<p>Très appréciable pour ses performances. Le virtual DOM est la killer feature et les autres frameworks tendent vers cette approche (Vue, Angular). Avec l’exemple de <code>react-fiber</code>, on ne peut qu’admirer la réactivité des head-developpers quand des problemes se manifestent. Facebook étant le lieu le plus fréquenté d’Internet aujourd’hui, on ne peut que espérer que la team continue dans leur lancée avec de plus en plus de technologies avant gardistes.</p>
<h2 id="ember">Ember</h2>
<p><code>Ember-data</code> est une librairie de gestion de données (pas seulement pour Ember), qui facilite drastiquement le requêtage et la gestion du cache. Il dissipent tous les maux de têtes induits par la recupération, la manipulation, le stockage et le cache de données coté client. Un atout réside également dans le fait qu’il oblige à respecter des bonnes pratiques imposées (une seule manière de faire). Recommandé pour les débutants, et permet une bonne introduction vers des architectures plus modernes.</p>
<h2 id="vue">Vue</h2>
<p>Vue est un framwork hybrid Angular/React. Angular est volumineux et supporte majoritairement Typescript ; tandis que le JSX de React n’est a adapté pour tous les scénarios. Vue est alors la solution : Vue revendique etre le framework le plus rapide en ce qui concerne la manipulation du DOM.</p>
<h2 id="polymer">Polymer</h2>
<p>Polymer évolue en concordance directe avec les standards W3C. Il propose également une approche orientée composants, toutefois un tantinet plus verbeuse que ses conccurrents. Elle ne propose pas de librairie pour la manipulation de données.</p>
<h1 id="performances">Performances</h1>
<h2 id="angular-1">Angular</h2>
<p>Angular souffre des serieux soucis de performance depuis la version 2. La vesion 5 d’Angular est sortie et il semblerait que les choses se soit grandement améliorées, mais encore insuffisant comparé à ses conccurents. Le fait que Angular soit porté par Google offre une certaine confiance quant à la résolution imminente de ces problèmes.</p>
<h2 id="react-1">React</h2>
<p>Les concepts de virtual dom et de data-binding à sens unique font de React le plus performant du marché actuel. il arrive fréquemment que, dans des projets Ember ou Angular, les développeur ait recours à React pour des pages contenant une grande quantité d’éléments.</p>
<h2 id="ember-1">Ember</h2>
<p>C’est un éléphant un peu lent, particulièrement dans le rendu. Les observeurs et les détecteurs de changement sont plus rapides qu’Angular, mais le premier rendu est super lent.</p>
<h2 id="vue-1">Vue</h2>
<p>Vue partage beaucoup de concepts techniques avec React : Virtual DOM, composants réactifs, … Les performances sont similairement excellentes. Toutefois, Vue pretend être plus rapide dans la detection de changement du DOM.</p>
<h2 id="polymer-1">Polymer</h2>
<p>Polymer affiche des performances moyennes d’une manière générale, plus particulièrement en phase de développement. En production, la minification solutionne en partie le problème. Le premier rendu est très couteux, mais une fois en mémoire, les performances restes correctes.</p>
<h1 id="architecture-de-code">Architecture de code</h1>
<h2 id="angular-2">Angular</h2>
<p>Le framework MVC a fourni suffisament d’effort dans la CLI pour proposer une architecture de projet prédéfinie. C’est plus facile de démarrer rapidement, mais plus difficile pour tendre vers une architecture distribuée.</p>
<h2 id="react-2">React</h2>
<p>React n’a pas d’architecture à proprement parler, mais le communauté utilise Flux. Flux incarne définitivement une meilleure architecture que MVC, mais la phase de configuration peut être très douloureuse pour les débutants. La principale raison provient du fait que React s’efforce à demeurer non-opiniâtre et flexible.</p>
<h2 id="ember-2">Ember</h2>
<p>Un des meilleurs distributeurs de logique. Le projet créé via la CLI est très riche et l’utilisation de Ember-data facilite vraiment la vie. Tous les développeurs Ember tombent amoureux de l’architecture par défaut.</p>
<h2 id="vue-2">Vue</h2>
<p>Très similaire à Angular. Facilement distribuable et structurable, l’empaquetage est très permissif. Le problème d’architecture le plus notable avec Vue, c’est l’absence totale de notion d’héritage entre composants : obligation d’utiliser des mixins.</p>
<h2 id="polymer-2">Polymer</h2>
<p>L’arborescence par défaut est assez simple et non conventionée. Polymer laisse beaucoup de liberté dans l’organisation des fichiers d’un projet, mais la phase d’empaquetage avec Vulcanize promet des scéances intenses d’arrachage de cheveux.</p>
<h1 id="cli">CLI</h1>
<h2 id="angular-3">Angular</h2>
<p>Pas obligatoire, mais l’outil est arrivé quelques jours après la naissance du framework, déjà assez puissant, et il s’améliore de jours en jours.</p>
<h2 id="react-3">React</h2>
<p>React n’as pas de CLI officiel, mais la communauté utilise beaucoup celui ci : <a href="https://github.com/facebookincubator/create-react-app" class="uri">https://github.com/facebookincubator/create-react-app</a></p>
<h2 id="ember-3">Ember</h2>
<p>Ember-cli existe déjà depuis un moment et a largement contribué à la démocratisation des CLI dans les frameworks JS. <code>Angular-cli</code> est un fork <code>ember-cli</code>.</p>
<h2 id="vue-3">Vue</h2>
<p>La CLI Vue est pas mal : Il permet de démarrer un projet avec un template de notre choix : webpack, pwa, browserify, et d’autres choses. L’outil de génération de projet est bien mais il ne fait pas grand chose d’autre.</p>
<h2 id="polymer-3">Polymer</h2>
<p>La CLI permet de créer un projet, tester, servir l’application et builder. Néanmoins, elle manque cruellement d’un générateur de code.</p>
<h1 id="courbe-dapprentissage">Courbe d’apprentissage</h1>
<h2 id="angular-4">Angular</h2>
<p>C’est un framework, donc de toute évidence, il doit y avoir apprentissage. Angular implemente son propre language pour la gestion des templates, les boucles et autres. La courbe d’apprentissage est donc relativement importante.</p>
<h2 id="react-4">React</h2>
<p>React, c’est du Javascript. Un librairie simple avec quelques apis et un concept de flux de données certes un peu difficile à assimiler. Sinon, en partant du postulat qu’on connait Javascript, l’effort reste modéré.</p>
<h2 id="ember-4">Ember</h2>
<p>Ember est également un framework. Donc, comme Angular, la courbe d’apprentissage est importante. Sachant que Ember favorise la convention par rapport à la configuration, assimiler toutes les bonnes pratiques peut prendre un certain temps. D’un autre coté, ces mécanismes clairement définis et imposés garantissent l’harmonie du code.</p>
<h2 id="vue-4">Vue</h2>
<p>Vue semble plus facile à prendre en main que Angular et recense quelques concepts supplémentaires comparé à React. N’importe qui ayant des connaissances sur Angular et React réussiront à adopter très facilement le produit.</p>
<h2 id="polymer-4">Polymer</h2>
<p>La courbe d’apprentissage est minimisée par l’utilisation des standards W3C et par les connaissances préalables de l’équipe sur cette techno.</p>
<h1 id="documentation">Documentation</h1>
<h2 id="angular-5">Angular</h2>
<p>Bonne documentation, courte, simple et droit au but. Les documentations offcielles sont souvent suffisantes. En outre et au delà du fait que la communauté Angular soit très large, AngularJS est un des frameworks avec le plus de bouteille, donc il est très facile de trouver de l’aide sur de nombreux blog/forums.</p>
<h2 id="react-5">React</h2>
<p>React est tellement flexible que les gens l’utilise comme ils le souhaitent. C’est pourquoi, c’est parfois difficile de trouver de la documentation de bonne qualité. Néanmoins, Internet est tellement riche qu’on trouvera toujours réponse aux questions convenablement posées. La doc officielle est un peu légère et n’est vraisemblablement pas adaptée pour les débutants.</p>
<h2 id="ember-5">Ember</h2>
<p>À ses débuts, Ember souffrait d’une documentation très pauvre, le problème ne semble néanmoins plus du tout d’actualité : la documentation est très bien organisée, détaille le framework en profondeur et chaque concept est accompagné d’un morceau de code. Toutefois, en raison d’une communauté réduite, il est difficile de trouver des ressources sur les blog/forums. VoidCancas est l’un des rares blogs à proposer des contenus Ember dans une large mesure.</p>
<h2 id="vue-5">Vue</h2>
<p>Les tutoriaux sont inutiles à partir du moment qu’on a déja une expérience avec Angular, les guides officiels sont suffisants. La communauté s’est largement enrichie depuis quelques mois et met à disposition de plus en plus de tutoriaux.</p>
<h2 id="polymer-5">Polymer</h2>
<p>La couche Polymer agit comme un polyfill pour l’utilisation des Webcomposants standards. Ces derniers sont normés et la documentation est en directe adéquation avec les spécifications W3C. La documentation officiel est correcte, mais peu de forums/blogs s’y intéresse.</p>
<h1 id="support-des-organisations">Support des organisations</h1>
<h2 id="angular-6">Angular</h2>
<p>Concoqueté par le puissant Google, il est porté une équipe de développeurs dévoués. Cette techno commence à être utilisée dans plusieurs projets au sein de Google, ce qui n’était pas le cas auparavant et posait de nombreuses questions quant à la confiance à accorder au produit. Très controversé à deux reprises :</p>
<ul>
<li>Passage de AngularJS à Angular 2 : Aucune rétrocompatibilité, probablement dûe à l’immaturité du produit au moment de sa première publication.</li>
<li>Abandon volontaire de la version 3 : Problème technique mineur induit par le versionnage sémantique lié à l’utilisation de MonoRep. Angular 2 dépendait de la librairie <code>@Angular/router</code> en sa version 3, les développeurs ont volontairement choisi de repartir sur des version cohérentes entre elles afin d’éviter toute confusion.</li>
</ul>
<h2 id="react-6">React</h2>
<p>Facebook a créé le produit pour ses propres besoins et a libéré le code par la suite. Étant donné que Facebook est la plateforme la plus fréquentée au monde, elle requiert une performance à toute épreuve. Nous sommes de facto assurés qu’aucune release de React ne compromettera la performance du produit.</p>
<h2 id="ember-6">Ember</h2>
<p>Indépendant de toute organisation, mais LinkedIn est 100% Ember et Microsoft, Apple, Netflix et beaucoup d’autres boites l’utilisent aujourd’hui.</p>
<h2 id="vue-6">Vue</h2>
<p>Encore une fois indépendant. Le plus grand utilisateur aujourd’hui est Alibaba.</p>
<h2 id="polymer-6">Polymer</h2>
<p>Meme argument que pour Angular, à la différence que de nombreux projets Google s’appuient sur cette techno : <a href="https://github.com/Polymer/polymer/wiki/Who&#39;s-using-Polymer" class="uri">https://github.com/Polymer/polymer/wiki/Who's-using-Polymer</a></p>
<h1 id="support-de-la-communauté">Support de la communauté</h1>
<h2 id="angular-7">Angular</h2>
<p>C’est le framework le plus vieux, ainsi la commauté est gigantesque. Angular incarne un des premiers acteurs à faire évoluer le framework Javascript d’un point de vue conceptuel. Néanmoins, suite à l’échec de la version 2, il a perdu énormément en popularité. Espérons que les efforts de la lead-team renverseront la vapeur et replacera le produit au rang des maîtres du domaine.</p>
<h2 id="react-7">React</h2>
<p>React semble rencenser aujourd’hui la plus grande part d’adhérents dans le communauté Javascript actuelle. On trouve sur Internet une quantité indénombrable de plugins, librairies, sdks et blogs.</p>
<h2 id="ember-7">Ember</h2>
<p>Ember n’a jamais eu une grande communauté, vraisemblablement en raison d’une courbe d’apprentissage très verticale et des performances très moyennes. De nombreux adhérents dévoués investissent dans le produit en développant des plugins, mais la bibliothèque n’est en rien comparable à celles de géants.</p>
<h2 id="vue-7">Vue</h2>
<p>La communauté Vue a grandie de manière exponentielle ces derniers mois. Bien qu’une grande partie ne parle pas Anglais, cela n’impute en aucun cas la quantité de contributions consultables.</p>
<h2 id="polymer-7">Polymer</h2>
<p>Assez paradoxalement le framework le moins populaire parmis tous les candidats alors qu’il est le seul à vraiment évoluer avec les standards des Webcomponents. Deux explications possibles :</p>
<ul>
<li>La team ne fait aucun effort sur la publicité du produit par pur manque d’énergie.</li>
<li>Impossible pour eux de pousser un produit alors qu’un autre framework en interne (Angular) est mis en avant.</li>
</ul>
<h1 id="préférences-de-langages">Préférences de langages</h1>
<h2 id="angular-8">Angular</h2>
<p>Angular affirme qu’il est possible de développer une application à l’aide de Javascript natif … mais non. Cela implique de nombreuses complications qui vous résoudra inéluctablement à utiliser Typescript. Il n’y pas d’alternative à Typescript avec Angular.</p>
<h2 id="react-8">React</h2>
<p>Bien que JSX ne ressemble pas à du javascript, il suffit de retirer le code html et c’est du Javascript tout ce qu’il y a de plus standard. Il est donc inutile d’apprendre un nouveau langage, a contrario, JSX est le seul langage possible pour React.</p>
<h2 id="ember-8">Ember</h2>
<p>Ember est pur Javascript. On peut construire un projet quasi entièrement à l’aide de la CLI et on peut utiliser ES6+. L’utilisation de Handlebars nous empêche d’implémenter quelquonque logique dans les templates, ce qui est une bonne chose.</p>
<h2 id="vue-8">Vue</h2>
<p>Le cas de Vue est similaire à celui de React. Bien que l’extension soit “.vue”, c’est ni plus ni moins qu’une combinaison de Javascript, HTML et CSS.</p>
<h2 id="polymer-8">Polymer</h2>
<p>Javascript, HTML, CSS, rien de plus standard.</p>
<h1 id="développement-mobile">Développement mobile</h1>
<h2 id="angular-9">Angular</h2>
<p>La communauté utilise le framework Ionic pour développer des applications mutliplateformes avec Angular. Peu de code natif, mais beaucoup de composants dans le catalogue.</p>
<h2 id="react-9">React</h2>
<p>React a un fort avantage dans ce domaine. React-Native est une manière simple de composer des application natives, en implémentant un système de transpilage permettant d’obtenir du code legacy pour chaque constructeur (Android, Apple, Microsoft (?)). Melleures perfs dans la globalité, mais catalogue de composant plus limité.</p>
<h2 id="ember-9">Ember</h2>
<p>Avec Cordova, il est possible de convertir une application Ember en application mobile.</p>
<h2 id="vue-9">Vue</h2>
<p>La communauté Vue ne semble pas encore très décidée sur ce point, mais beaucoup utilisent Weex.</p>
<h2 id="polymer-9">Polymer</h2>
<p>Il est tout à fait possible d’envisager la publication d’une application Polymer avec Cordova. La documentation est toutefois limitée et malgré un large choix de Webcomponents dans le catalogue, aucun ne tire potentiellement avantage du contexte mobile, ni des fonctionnalités natives.</p>
